.claimButtons button {
  padding-left: 2px;
  padding-right: 2px;
}
.claimButtons .row {
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.claimButtons .row [class*='col-']:not(:first-child),
.claimButtons .row [class*='col-']:not(:last-child) {
  padding-right: 1px;
  padding-left: 1px;
}
.ticket {
  table-layout: fixed;
  font-size: 1.2em;
}
.ticket td {
  width: 11.1%;
  text-align: center;
}
.stopwatch {
  padding-bottom: 10px;
  width: 90%;
  margin:auto;
}
.stopwatch .message{
  text-align: center;
}
.numberPop {
  text-align: center;
  font-size: 1000%;
}
