@()

<div class="modal fade" role="dialog" id="finishModal" aria-labelledby="finishModalLable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="finishModalLabel">This game has finished</h4>
      </div>
      <div class="modal-body">
        <p>This game session has ended</p>
        <p>{{ makeMessage() }}</p>
        <p>You have {{ perks.cur }} remaining</p>
      </div>
    </div>
  </div>
</div>