@()
<!-- to be used within the ng-controller='mainCtrl' -->
<div class="panel panel-default" ng-repeat="ticketPack in ticketPacks">
  <div class="panel-heading">
    <h4 class="panel-title">Ticket # {{$index + 1}}</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <table class="table table-bordered table-condensed ticket">
          <tr ng-repeat="r in ticketPack.ticket">
            <td ng-repeat="i in r">
              <div
                onclick='{{ $(this).parent().toggleClass("success") }}'
                onmouseover='{{ $(this).parent().addClass("active") }}'
                onmouseout='{{ $(this).parent().removeClass("active") }}'>
                  {{ i.number }}
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-4 claimButtons">
        <div class="row">
          <div class="col-sm-4">
              <claim-button class="btn-default" name="Line1" text="Line 1" />
          </div>
          <div class="col-sm-4">
              <claim-button class="btn-default" name="Line2" text="Line 2" />
          </div>
          <div class="col-sm-4">
              <claim-button class="btn-default" name="Line3" text="Line 3" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <claim-button class='btn-warning' name="Corners" text="Corners" />
          </div>
          <div class="col-sm-4">
            <claim-button class='btn-info' name="BullsEye" text="Bull's Eye" />
          </div>
          <div class="col-sm-4">
            <claim-button class='btn-warning' name="Star" text="Star" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <claim-button class='btn-success' name="FullHouse" text="Full House" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
