@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
  <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

  <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
  <link rel='stylesheet' href='@routes.Assets.at("css/flipclock.css")'>
  <link rel='stylesheet' href='@routes.Assets.at("css/main.css")'>

  <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/flipclock.min.js")'></script>
  <script data-main='@routes.Assets.at("javascripts/main.js")' src='@routes.Assets.at("lib/requirejs/require.js")'></script>
</head>
<body>
  @content
</body>
</html>
