@()

@import partials._
@main("Testing page") {
<!-- <script src='@routes.Assets.at("javascripts/ticket.js")'></script> -->
<script src='@routes.Application.connectJs()'></script>
<div class="row" ng-controller="testCtrl">
  @modals()
  <div class="col-xs-9 col-md-6">
    @playArea()
    <div>
      <span>{{ rec }} </span>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <!--<div id="stopwatch"></div>-->
    <game-timer timer="timer"></game-timer>
    <button class="btn btn-default btn-block" ng-click="timer = {time: 100, message: 'hellooo'}; number = 5">Set time</button>
    <number-pop number="number" delay="4000"></number-pop>
    <div class="ticketRequestButton">
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#disconnectModal">Modal check
        <span class="badge pull-right">30</span>
      </button>
    </div>
    <button class="btn btn-warning" ng-click="displayFinM()">Testing javascript modal</button>
  </div>
  <div class="col-xs-3 col-md-2">
    @alerts()
    <div class="btn-group" style="width:100%">
      <button class='btn btn-warning ' ng-click="messages.error = 'Re-doing the error message'">alert</button>
      <button class='btn btn-success ' ng-click="messages.success = 'Re-doing the success message'">alert</button>
      <button class='btn btn-info ' ng-click="messages.info = 'Re-doing the info message'">alert</button>
    </div>
  </div>
</div>
<script>/*
  $("#stopwatch").FlipClock(40, {
    countdown: true,
    clockFace: "MinuteCounter",
    callbacks: {
      stop: function(){alert("Stopwatch finished")}
    }
  })*/
  function openModal() {
    $("#finishModal").modal('show')
  }
</script>
}